<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <clear/>
    <add key="SicilRefreshEnabled" value="0"></add>    <!-- 1 veya 0-->
    <add key="BirimRefreshEnabled" value="0"></add>    <!-- 1 veya 0-->
    <add key="SicilIzinRefreshEnabled" value="1"></add>    <!-- 1 veya 0-->
    <add key="SicilRefreshTime" value="09:00"></add>    <!-- HH:MM olmalı-->
    <add key="BirimRefreshTime" value="15:00"></add>    <!-- HH:MM olmalı-->
    <add key="SicilIzinRefreshTime" value="11:59"></add>    <!-- HH:MM olmalı-->
    <add key="StartReCalculate" value="0"></add>

   
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ikbsSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="ikbsSoap1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://..........trte.org.tr/webservisler/ikbs.asmx"
        binding="basicHttpBinding" bindingConfiguration="ikbsSoap" contract="TSEService.ikbsSoap"
        name="ikbsSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="TSEEntities" connectionString="metadata=res://*/Model.PDKS.csdl|res://*/Model.PDKS.ssdl|res://*/Model.PDKS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1................6\SQLEXPRESS;initial catalog=TSE_MEYER;User ID=.......;Password=............;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
<!--<connectionStrings><add name="TSEEntities" connectionString="metadata=res://*/Model.PDKS.csdl|res://*/Model.PDKS.ssdl|res://*/Model.PDKS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=...........;initial catalog=.......;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>-->
